[lang="ar"]{
    *{
        direction: rtl;
    }

    .content-page{
        margin-right: 240px;
        margin-left: 0px;
    }

   
}

.MuiDataGrid-cell{
  display: inline-flex !important;

}
// overlay for update image in profile
 .profile-image {
    cursor: pointer;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex
;
    align-items: center;
  }

  .position-relative {
    position: relative;
  }

  .overlay {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: transparent;
    opacity: 0;
    display: flex;
   
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  .upload-btn {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
  }
  .position-relative:hover .overlay {
    opacity: 1;
  }


  .nav-active > a {
    font-weight: bold;
    color: #007bff; /* Customize as needed */
  }
  
  .nav-active {
    background-color: #f8f9fa; /* Highlight active item background */
  }


  .dropify-message .file-icon p{
  font-size: 20px;
  }